/**
 * Eat facets.
 * Collapsibility originally Adapted from the Kumasi theme originally written by Development
 * Seed.
 */

.eat-facets {

  ul {
    list-style-image: none;
  }

  ul, li {
    list-style: none;
  }
}


  .eat-facets.aria-collapsed .facet-collapsible-wrapper {
    display: none;
  }


  .eat-facets.aria-expanded .facet-collapsible-wrapper {
    display: block;
    -webkit-transition: top 10s;
    -moz-transition: top 10s;
  }